
				<div id="pasaelogo">
					<img src="images/pasaelogo.png" alt="PASAE" class="png"/>
				</div>
				
				<div id="intro">
					<h3>Introducing PASAE</h3> 
					<p>Established in 1988, the Pilipino Association of Scientists, Architects, and Engineers (PASAE) serves 
					as a close-knit support group for students in the technical fields, providing student members a space for 
					social interaction, cultural understanding, professional guidance, and academic support.</p>
				</div>
				<div id="academics">
					<h3>Academics</h3>
					<p>PASAE provides academic support through peer counseling, class advising, and various workshops. Our members 
					come from a wide variety of fields in engineering and science as well as architecture, and represent both 
					lower and upperclassmen. This creates a friendly and knowledgeable environment in which to seek advice 
					and guidance.<br/>
				
					We offer TeleBEARS class advising for both Fall and Spring semesters, study nights with refreshments, 
					workshops in office productivity software, website design, financial planning, and plenty of opportunities 
					to network with alumni.</p>
				</div>
				<div id="professional">
					<h3>Professional</h3>
					<p>PASAE offers industry field trips and various workshops on resume writing, career planning, graduate school 
					advising, and internship and cooperative education opportunities. Alumni speakers at our general meetings tell 
					us about their experiences as a Filipino/a in the “real world.” Furthermore, through the Student Alumni Mentorship 
					Program (SAMP), our members work with alumni to fulfill their personal and professional goals.</p>
				</div>
				<div id="social">
					<h3>Social</h3>
					<p>As students of Cal, we know about tough times, screwed up schedules, incomprehensible professors, confusing 
					relationships, insufferable exams, impossible problem sets, slaving at the computer, and those late night studios.
					We recognize how important it is to have a life outside of class. PASAE organizes social events such as the famous 
					PASAE barbecues, Hip-Hop Classes, ice skating, broomball, clubbing, movie nights, game nights, and other forms of 
					stress relief.</p>
				</div>
			</div>
