<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>PASAE</title>

</head>
<body>
<div id="smallheader">						<!-- Start of Header Part !-->
	<div class="wrapper">
        <div id="logo">
      	<img src="images/name2.png" alt="your name" class="png"/>
      	</div>
	</div>
</div>											<!-- End of Header Part !-->

<div id="contentpart">							<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- This is the menu !-->
            <li><a href="index">Home</a></li>
            <li><a href="news">News</a></li>
			<li><a href="about">About</a></li>
			<li class="current"><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>  
        
        <div id="content">						
        	<div class="title"><h2>Co-Creative Director: Melvin Garcia</h2></div>
			<p>
				<img src="images/melvin.jpg" align="right" width="300" height="300"></p> <img src="images/melvinquote.jpg" align="right">
				<p><div><strong>Nicknames</strong>: Melv, Melvs, balla</div>
				<div><strong>Year</strong>: Junior</div>
				<div><strong>Major</strong>: Molecular and Cellular Biology - Biochemistry</div>
				<div><strong>Favorite childhood movie?</strong> Power Rangers the Movie and Lion King</div>
				<div><strong>If you were a certain type of food, what would you be?</strong> Ice cream, because ice cream wipes away all sad emotions</div>
				<div><strong>Most Visited Websites</strong>: nfl.com facebook, reddit, twitter, nytimes, chargers, padres, youtube, some music blogs</div>
				<div><strong>What do you see yourself doing after college?</strong> Saving people</div>
				<div><strong>What do you like to do on your free time?</strong> I like to look for and listen to new music,</div>
				<div>catch up on missed tv shows and movies, and if I really have time read books!</div>
				<div><strong>If you had one song to describe you as a person, what would it be and why?</strong> Livin it up – Ja Rule because that's simply what I do (or at least got to do)</div>
				<div><strong>If you had 24 hours to live, what would you do?</strong> Tell people how much ill miss them and just spend time with family.</div>
			</p>
        </div>									
		<div style="clear:both;"></div>
        <div id="bottom">						<!-- This is the Footer !-->
        <p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
        </div>
        
	</div>								
</div>											<!-- End of Content Part !-->
</body>
</html>
