<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>PASAE</title>

</head>
<body>
<div id="smallheader">						<!-- START HEADER !-->
	<div class="wrapper">
        <div id="logo">
      	<img src="images/name2.png" alt="your name" class="png"/>
      	</div>
	</div>
</div>											<!-- END HEADER !-->

<div id="contentpart">							<!-- START CONTENT !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- MENU !-->
            <li><a href="index">Home</a></li>
            <li><a href="news">News</a></li>
			<li><a href="about">About</a></li>
			<li class="current"><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>  
        
        <div id="content">						
        	<div class="title"><h2>Historian: Francis Rodson Clavel</h2></div>
			<p>
				<img src="images/rodson.jpg" align="right" width="300" height="300"></p><img src="images/rodsonquote.jpg" align="right"></p>
				<strong>Nicknames</strong>: Rodson<br>
				<strong>Year</strong>: Sophomore<br>
				<strong>Major</strong>: Computer Science<br>
				<strong>Favorite childhood movie?</strong> My favorite childhood movie was probably ninja surfers. I used to have the VHS and would watch it daily.<br>
				<strong>If you were a certain type of food, what would you be?</strong> I would be a buffet.<br>
				<strong>Most Visited Websites</strong>: animelist.net probably :(<br>
				<strong>What do you see yourself doing after college?</strong> Hopefully working and using that money on my family, and cars :)<br>
				<strong>What do you like to do on your free time?</strong>  I like to listen to music, watch anime, and hang out with friends. Also eating.<br>
				<strong>If you had one song to describe you as a person, what would it be and why?</strong> After Hanabi (Listen to My Beat) by Nujabes, because I love to just chill and relax, like you're watching fireworks on a hot summer night.<br>
				<strong>If you had 24 hours to live, what would you do?</strong> If I had 24 hours to live, I would drive around without looking back!<br>
			</p>
        </div>									
		<div style="clear:both;"></div>
        <div id="bottom">						<!-- FOOTER !-->
        <p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
        </div>
        
	</div>								
</div>											<!-- END CONTENT !-->
</body>
</html>
