
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>PASAE | Pilipino Assoc. of Scientists, Architects, and Engineers</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="description" content="PASAE: The Pilipino Association of Scientists, Architects, and Engineers at UC Berkeley"/>
	<meta name="keywords" content="UC,Berkeley,PASAE,Pilipino,Scientists,Architects,Engineers,Pinoy,Philippines,University"/>
	<meta name="author" content="Mari Batilando" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/reset.css" type="text/css" />
	<link rel="stylesheet" href="css/default.css" type="text/css" />
	<script type="text/javascript" src="js/jquery-1.3.min.js"></script>
	<script type="text/javascript" src="js/fade.js"></script>
	<script type="text/javascript" src="js/loader.js"></script>
</head>
<body id="index">
	<div id="bigheader">
		<div class="wrapper">
			<div id="logocenter">
				<img src="images/name3.png" alt="PASAE" class="png"/>
			</div>	  
			<div style="clear:both;">
			</div>
		</div>
	</div>
	<div id="contentpart">
		<div class="wrapper">
			<ul class="menu">
				<li><a id="mainBut" href="#">Home</a></li>
				<li><a id="newsBut" href="#news">News</a></li>
				<li><a id="photosBut" href="#photos">Photos</a></li>
				<li><a id="aboutBut" href="#about">About</a></li>
				<li><a id="officersBut" href="#officer">Officers</a></li>
				<li><a id="contactBut" href="#contact">Contact</a></li>
			</ul> 
		
			<div id="content"> 					      
			</div>

			<div id="bottom">
				<p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
			</div>  
		</div>
	      </div>
</body>	
</html>
