<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>PASAE</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Mari Batilando"/>
	<link rel="stylesheet" href="css/reset.css" type="text/css" />
	<link rel="stylesheet" href="css/default.css" type="text/css" />
	<link rel="stylesheet" href="css/hoverstyle.css" type="text/css" />
</head>
<body>
	<div id="smallheader"><!-- START HEADER !-->
		<div class="wrapper">
			<div id="logo">
			<img src="images/name2.png" alt="PASAE" class="png"/>
			</div>  
		</div>
	</div><!-- END HEADER !-->

	<div id="contentpart"><!-- START CONTENT !-->
		<div class="wrapper">
			
			<ul class="menu"><!-- MENU !-->
				<li><a href="index">Home</a></li>
				<li><a href="news">News</a></li>
				<li><a href="photos">Photos</a></li>
				<li><a href="about">About</a></li>
				<li class="current"><a href="officers">Officers</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>  
			
			<div id="content">     
			
				<div id="main"><!-- MAIN CONTENT !-->
					<div class="title"><h2>2012-2013 Core Officers</h2></div>
					<img src="images/officerimages/core.jpg" width="600" alt="PASAE" class="jpg"/>
					<h2>Presidents</h2>
					<hr width="100%">
					<table>
						<tr>
							<td><a href="htmlofficer/president"><div class="bw pic"><img src="images/officerimages/nina.jpg" title="Nina Lagpacan" 
							alt="Nina" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/co-president"><div class="bw pic"><img src="images/officerimages/kim.jpg" title="Kimberly D'Costa" 
							alt="Kim" width="100" height="100"></a></div></td>
						</tr>
						<tr>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Co-President</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Co-President</td>
						</tr>
					<table>
					
					<h2>Internal Component</h2>
					<hr width="100%">
					<table>
						<tr>
							<td><a href="htmlofficer/internalvp"><div class="bw pic"><img src="images/officerimages/kevin.jpg" title="Kevin Pamplona" 
							alt="Kevin" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/secretary"><div class="bw pic"><img src="images/officerimages/diane.jpg" title="Diane Quillao" 
							alt="Diane" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/treasurer"><div class="bw pic"><img src="images/officerimages/ian.jpg" title="Ian Custodio" 
							alt="Ian" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/historian"><div class="bw pic"><img src="images/officerimages/rodson.jpg" title="Francis Rodson Clavel" 
							alt="Rodson" width="100" height="100"></a></div></td>
						</tr>
						<tr>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Internal VP</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Secretary</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Treasurer</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Historian</td>
						</tr>
					</table>
					
					<h2>External Component</h3>
					<hr width="100%">
					<table>
						<tr>
							<td><a href="htmlofficer/externalvp"><div class="bw pic"><img src="images/officerimages/roxy.jpg" title="Roxanne Coronel" 
							alt="Roxy" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/engineeringrep"><div class="bw pic"><img src="images/officerimages/patrick.jpg" title="Patrick Trillo" 
							alt="Patrick" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/sciencerep"><div class="bw pic"><img src="images/officerimages/bryan.jpg" title="Bryan Aeyeung" 
							alt="Bryan" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/environdesignrep"><div class="bw pic"><img src="images/officerimages/greicko.jpg" title="Greicko Almoite" 
							alt="Greicko" width="100" height="100"></a></div></td>
						</tr>
						<tr>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal;
							color: #000000;">External VP</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Engineering Rep.</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Science Rep.</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Environmental Design Rep.</td>
						</tr>
					</table>
					
					<h2>Creative Component</h3>
					<hr width="100%">
					<table>
						<tr>
							<td><a href="htmlofficer/creativedirector"><div class="bw pic"><img src="images/officerimages/charvi.jpg" title="Charvi Shetty" 
							alt="Charvi" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/co-creativedirector"><div class="bw pic"><img src="images/officerimages/melvin.jpg" title="Melvin Garcia" 
							alt="Melvin" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/publicrelations"><div class="bw pic"><img src="images/officerimages/nicole.jpg" title="Nicole Schager" 
							alt="Nicole" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/socialchair"><div class="bw pic"><img src="images/officerimages/kristin.jpg" title="Kristin Soriano" 
							alt="Kristin" width="100" height="100"></a></div></td>
							<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td><a href="htmlofficer/webmaster"><div class="bw pic"><img src="images/officerimages/mari.jpg" title="Mari Batilando" 
							alt="Mari" width="100" height="100"></a></div></a></td>
						</tr>
						<tr>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Creative Director</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Co-Creative Director</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Public Relations</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Social Chair</td>
							<td></td>
							<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
							color: #000000;">Webmaster</td>
						</tr>
					</table>
				</div><br><br>
					<div id="sidebar"><!-- START SIDEBAR !-->
						<ul class="sidemenu">
							<li><h3>Past Core<h3></li>
							<li><a href="#">2011-2012</a></li>
							<li><a href="#">2010-2011</a></li>
							<li><a href="#">2009-2010</a></li>
							<li><a href="#">2008-2009</a></li>						
						</ul>
					</div>									<!-- End of Sidebar !-->
				</div>
			<div style="clear:both;"></div>
			<div id="bottom"><!-- FOOTER !-->
			<p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
			</div>
		</div>
	</div><!-- END CONTENT !-->
</body>
</html>
