<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>PASAE</title>

</head>
<body>
<div id="smallheader">						<!-- Start of Header Part !-->
	<div class="wrapper">
        <div id="logo">
      	<img src="images/name2.png" alt="your name" class="png"/>
      	</div>
	</div>
</div>											<!-- End of Header Part !-->

<div id="contentpart">							<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- This is the menu !-->
            <li><a href="index">Home</a></li>
            <li><a href="news">News</a></li>
			<li><a href="about">About</a></li>
			<li class="current"><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>  
        
        <div id="content">						
        	<div class="title"><h2>Science Representative: Bryan Aeyeung</h2></div>
			<p>
				<img src="images/bryan.jpg" align="right" width="300" height="300"></p><img src="images/bryanquote.jpg" align="right"><p>
				<strong>Nicknames</strong>: Bryan<br>
				<strong>Year</strong>: Junior<br>
				<strong>Major</strong>: MCB Biochemistry<br>
				<strong>Favorite childhood movie?</strong> The Jurassic Park Series? I remember that I use to play a lot with dinosaurs...<br>
				<strong>If you were a certain type of food, what would you be?</strong> Pineapple. Its sweet if you pick it right, acidic if to early or fermented if too late. It grows in tropical regions, and is very difficult to grow. <br>
				I am just as high maintenanced and stubborn; in certain ways. It's also my favorite food.<br>
				<strong>Most Visited Websites</strong>: Currently Ebay. I am trying to place a bid on an unlocked Windows smartphone with a Qwerty Keypad and WIFI so that I don't have to pay for a data plan at AT&T.<br>
				<strong>What do you see yourself doing after college?</strong> I need a degree in medicine/pharmacy/or research. I don't see how I could be confined to any one job, so the logistics are still out of order. But traveling is a definite plan after I secure myself.<br>
				<strong>What do you like to do on your free time?</strong>  Read and then write right afterwards. Research career options, and research laboratory. Play tennis and badminton ~ but I don't really consider that my free time.<br>
				<strong>If you had one song to describe you as a person, what would it be and why?</strong> Sooner or Later by Mat Kearney. It reminds me to look forward, but not too far ahead into the future. Especially when you don't know what you want for the future; the time will pass and something new will come up in your life. Essentially, enjoy the present moment and make it count.<br>
				<strong>If you had 24 hours to live, what would you do?</strong> Run a marathon.<br>
			</p>
        </div>									
		<div style="clear:both;"></div>
        <div id="bottom">						<!-- This is the Footer !-->
        <p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
        </div>
        
	</div>								
</div>											<!-- End of Content Part !-->
</body>
</html>
