<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>PASAE</title>

</head>
<body>
<div id="smallheader">						<!-- Start of Header Part !-->
	<div class="wrapper">
        <div id="logo">
      	<img src="images/name2.png" alt="your name" class="png"/>
      	</div>
	</div>
</div>											<!-- End of Header Part !-->

<div id="contentpart">							<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- This is the menu !-->
            <li><a href="index">Home</a></li>
            <li><a href="news">News</a></li>
			<li><a href="about">About</a></li>
			<li class="current"><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>  
        
        <div id="content">						
        	<div class="title"><h2>Secretary: Diane Quillao</h2></div>
			<p>
				<img src="images/diane.jpg" align="right" width="300" height="300"></p><img src="images/dianequote.jpg" align="right"><p>
				<strong>Nicknames</strong>: Diane<br>
				<strong>Year</strong>: Sophomore<br>
				<strong>Major</strong>: Integrative Biology<br>
				<strong>Favorite childhood movie?</strong> The Sandlot and Pocahontas<br>
				<strong>If you were a certain type of food, what would you be?</strong> An orange<br>
				<strong>Most Visited Websites</strong>: Yahoo! Weather<br>
				<strong>What do you see yourself doing after college?</strong> Paying off my loans and hopefully go to dental school<br>
				<strong>What do you like to do on your free time?</strong>  Sleep and watch tv. I also like to go shopping when I have money.<br>
				<strong>If you had one song to describe you as a person, what would it be and why?</strong> "Halfway There" by Big Time Rush because we'll never reach the stars if we never get off the ground. The Fresh Prince of Bel-Air theme song is also a good choice.<br>
				<strong>If you had 24 hours to live, what would you do?</strong> I'd invite my friends and family members over and we'd have a going away party. Then I wanna go to a theme park (Disney World if possible) and ride all the rides.<br>
			</p>
        </div>									
		<div style="clear:both;"></div>
        <div id="bottom">						<!-- This is the Footer !-->
        <p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
        </div>
        
	</div>								
</div>											<!-- End of Content Part !-->
</body>
</html>
