<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>Themeforest Template</title>

</head>
<body>
<div id="smallheader">							<!-- Start of Header Part !-->
	<div class="wrapper">
    
        <div id="logo">
      	<img src="images/name2.png" alt="your name" class="png"/>
      	</div>
        
        <div id="right">
        <form method="get" id="searchform" action="#"> 
            <fieldset class="search"> 
                <input type="text" class="box" /> 
                <button class="btn" title="Search">Search</button> 
            </fieldset> 
        </form>
        </div> 
                
	</div>
</div>											<!-- End of Header Part !-->

<div id="contentpart">							<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- This is the menu !-->
            <li><a href="index">Home</a></li>
            <li><a href="news">News</a></li>
            <li><a href="about">About</a></li>
            <li class="current"><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>  
        
        <div id="content">     
        
            <div id="main">						<!-- This is Main Content !-->
                <div class="title"><h2>H2: Style Options</h2></div>
                
                <p class="item">This is a normal paragraph, consectetur adipiscing elit. In purus. Nam mauris quam, aliquet sit amet, pharetra nec, consectetur id, justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus et <a href="#">this is a link within some text</a> erat vel purus ornare hendrerit. In a sem. Vestibulum velit orci, commodo vehicula, vestibulum et, accumsan eget, orci. Maecenas eleifend volutpat leo. Mauris leo libero, porttitor sit amet, vestibulum at, ultrices a, nibh. Sed eu tortor. Duis iaculis urna a ante venenatis porttitor. Mauris euismod. Fusce nec nisi ut lacus faucibus convallis.</p><br />
                   
        
                <blockquote cite="#linktoquote">
                <p>This is a blockquote. Vivamus et erat vel purus ornare hendrerit. In a sem. Vestibulum velit orci, commodo vehicula, vestibulum et, accumsan eget, orci. Maecenas eleifend volutpat leo. Mauris leo libero, porttitor sit amet, vestibulum at, ultrices a, nibh. Sed eu tortor. Duis iaculis urna a ante venenatis porttitor. Mauris euismod. Fusce nec nisi ut lacus faucibus convallis.</p>
                </blockquote><br />
    
                <h1>Heading h1</h1> 
                <h2>Heading h2</h2> 
                <h3>Heading h3</h3> 
                <h4>Heading h4</h4> 
                <h5>Heading h5</h5><br />
        
                <strong>List items </strong> 
                
                <ul class="listitem"> 
                    <li>Donec eu lorem quis dui lacinia tincidunt</li> 
                    <li>Etiam accumsan arcu placerat leo</li> 
                    <li>Integer lacinia, eros quis mattis eleifend, tortor metus laoreet libero</li> 
                    <li>Donec eu lorem quis dui lacinia tincidunt</li> 
                    <li>Vivamus quis libero et neque iaculis congue.</li> 
                </ul>
                
                
      	 	</div>									<!-- End of Main Content !-->						
         
        
             <div id="sidebar">						<!-- Start of Sidebar !-->
                <ul class="sidemenu">
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Consulting</a></li>
                    <li><a href="#">Repair</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">We really do care</a></li>			 
                </ul>
            </div>									<!-- End of Sidebar !-->
         
        </div>
            
		<div style="clear:both;"></div>
        
        <div id="bottom">						<!-- This is the Footer !-->
        <p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
        </div>
        
	</div>
</div>											<!-- End of Content Part !-->
</body>
</html>
