<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.7a-min.js""></script><script>DD_belatedPNG.fix('.png, .btn');</script>
<![endif]-->

<title>PASAE</title>

</head>
<body>
<div id="smallheader">						<!-- Start of Header Part !-->
	<div class="wrapper">
        <div id="logo">
      	<img src="images/name2.png" alt="your name" class="png"/>
      	</div>
	</div>
</div>											<!-- End of Header Part !-->

<div id="contentpart">							<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">						<!-- This is the menu !-->
            <li><a href="index">Home</a></li>
            <li><a href="news">News</a></li>
			<li><a href="about">About</a></li>
			<li class="current"><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>  
        
        <div id="content">						
        	<div class="title"><h2>Webmaster: Mari Batilando</h2></div>
			<p>
				<img src="images/mari.jpg" align="right" width="300" height="300"></p> <img src="images/mariquote.jpg" align="right">
				<p><strong>Nicknames</strong>: Baby Mari, Calamari, Daddy, Mama Mari<br>
				<strong>Year</strong>: Sophomore<br>
				<strong>Major</strong>: Computer Science<br>
				<strong>Favorite childhood movie?</strong> Hercules, Three Ninjas, Mulan<br>
				<strong>If you were a certain type of food, what would you be?</strong> Anything with sugar<br>
				<strong>Most Visited Websites</strong>: Overclock.net, 9to5toys, Engadget, Gizmodo, TigerDirect, Pirate Bay, maribatilando.com<br>
				<strong>What do you see yourself doing after college?</strong> Landing a good job, finally getting to spend time with my brother and my family, and moving on to more cheesy, adult-sy stuff<br>
				<strong>What do you like to do on your free time?</strong>  Sleeping, eating, running, eating some more, binging, improving my current computer build<br>
				<strong>If you had one song to describe you as a person, what would it be and why?</strong> Seasons of Love by Rent..why? Because I'm cheesy and sensitive.<br>
				<strong>If you had 24 hours to live, what would you do?</strong> Finally hang out and talk w/ my little brother. Hang out with my family. Talk to all my friends.<br>
			</p>
        </div>									
		<div style="clear:both;"></div>
        <div id="bottom">						<!-- This is the Footer !-->
        <p class="footer">Copyright © 2013 PASAE. All Rights Reserved.</p>
        </div>
        
	</div>								
</div>											<!-- End of Content Part !-->
</body>
</html>
