<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>PASAE | Officers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Mari Batilando"/>
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/reset.css" type="text/css" />
	<link rel="stylesheet" href="../css/default.css" type="text/css" />
	<link rel="stylesheet" href="../css/hoverstyle.css" type="text/css" />
	<script type="text/javascript" src="../js/jquery-1.3.min.js"></script>
	<script type="text/javascript" src="../js/fade.js"></script>
</head>!-->
<body>  
			
			<div id="content">     
				<div id="main">
					<div id="officerheader">
						<div class="title"><h2>2012-2013 Core Officers</h2></div>
						<img src="images/officerimages/core.jpg" width="600" alt="PASAE" class="jpg"/>
					</div>
					
					<div id="president">
						<h2>Presidents</h2>
						<hr/>
						<table>
							<tr>
								<td>
									<div id="crossfade">
										<a href="officer/president"><img class="bottom" alt="Nina Lagpacan" src="images/officerimages/ninaalt.jpg" width="100" height="100"/></a>
										<a href="officer/president"><img class="top" alt="Nina Lagpacan" src="images/officerimages/nina.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/co-president"><img class="bottom" alt="Kimberly D'Costa" src="images/officerimages/kimalt.jpg" width="100" height="100"/></a>
										<a href="officer/co-president"><img class="top" alt="Kimberly D'Costa" src="images/officerimages/kim.jpg" width="100" height="100"/></a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Co-President</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Co-President</td>
							</tr>
						</table>
					</div>
					
					<div id="internal component">
						<h2>Internal Component</h2>
						<hr/>
						<table>
							<tr>
								<td>
									<div id="crossfade">
										<a href="officer/internalvp"><img class="bottom" alt="Kevin Pamplona" src="images/officerimages/kevinalt.jpg" width="100" height="100"/></a>
										<a href="officer/internalvp"><img class="top" alt="Kevin Pamplona" src="images/officerimages/kevin.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td><div id="crossfade">
										<a href="officer/secretary"><img class="bottom" alt="Diane Quillao" src="images/officerimages/dianealt.jpg" width="100" height="100"/></a>
										<a href="officer/secretary"><img class="top" alt="Diane Quillao" src="images/officerimages/diane.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/treasurer"><img class="bottom" alt="Ian Custodio" src="images/officerimages/ianalt.jpg" width="100" height="100"/></a>
										<a href="officer/treasurer"><img class="top" alt="Ian Custodio" src="images/officerimages/ian.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/historian"><img class="bottom" alt="Rodson Clavel" src="images/officerimages/rodsonalt.jpg" width="100" height="100"/></a>
										<a href="officer/historian"><img class="top" alt="Rodson Clavel" src="images/officerimages/rodson.jpg" width="100" height="100"/></a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Internal VP</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Secretary</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Treasurer</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Historian</td>
							</tr>
						</table>
					</div>
					
					<div id="external component">
						<h2>External Component</h2>
						<hr/>
						<table>
							<tr>
								<td>
									<div id="crossfade">
										<a href="officer/externalvp"><img class="bottom" alt="Roxanne Coronel" src="images/officerimages/roxyalt.jpg" width="100" height="100"/></a>
										<a href="officer/externalvp"><img class="top" alt="Roxanne Coronel" src="images/officerimages/roxy.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/engineeringrep"><img class="bottom" alt="Patrick Trillo" src="images/officerimages/patrickalt.jpg" width="100" height="100"/></a>
										<a href="officer/engineeringrep"><img class="top" alt="Patrick Trillo" src="images/officerimages/patrick.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/sciencerep"><img class="bottom" alt="Bryan Aeyeung" src="images/officerimages/bryanalt.jpg" width="100" height="100"/></a>
										<a href="officer/sciencerep"><img class="top" alt="Bryan Aeyeung" src="images/officerimages/bryan.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/environdesignrep"><img class="bottom" alt="Greicko Almoite" src="images/officerimages/greickoalt.jpg" width="100" height="100"/></a>
										<a href="officer/environdesignrep"><img class="top" alt="Greicko Almoite" src="images/officerimages/greicko.jpg" width="100" height="100"/></a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal;
								color: #000000;">External VP</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Engineering Rep.</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Science Rep.</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Environmental Design Rep.</td>
							</tr>
						</table>
					</div>
					
					<div id="creative component">
						<h2>Creative Component</h2>
						<hr/>
						<table>
							<tr>
								<td>
									<div id="crossfade">
										<a href="officer/creativedirector"><img class="bottom" alt="Charvi Raj" src="images/officerimages/charvialt.jpg" width="100" height="100"/></a>
										<a href="officer/creativedirector"><img class="top" alt="Charvi Raj" src="images/officerimages/charvi.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/co-creativedirector"><img class="bottom" alt="Melvin Garcia" src="images/officerimages/melvinalt.jpg" width="100" height="100"/></a>
										<a href="officer/co-creativedirector"><img class="top" alt="Melvin Garcia" src="images/officerimages/melvin.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/publicrelations"><img class="bottom" alt="Nicole Schager" src="images/officerimages/nicolealt.jpg" width="100" height="100"/></a>
										<a href="officer/publicrelations"><img class="top" alt="Nicole Schager" src="images/officerimages/nicole.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/socialchair"><img class="bottom" alt="Kristin Soriano" src="images/officerimages/kristinalt.jpg" width="100" height="100"/></a>
										<a href="officer/socialchair"><img class="top" alt="Kristin Soriano" src="images/officerimages/kristin.jpg" width="100" height="100"/></a>
									</div>
								</td>
								<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
								<td>
									<div id="crossfade">
										<a href="officer/webmaster"><img class="bottom" alt="Mari Batilando" src="images/officerimages/marialt.jpg" width="100" height="100"/></a>
										<a href="officer/webmaster"><img class="top" alt="Mari Batilando" src="images/officerimages/mari.jpg" width="100" height="100"/></a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Creative Director</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Co-Creative Director</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Public Relations</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Social Chair</td>
								<td></td>
								<td class="imgCaptionText" style="text-align: center; font-style: normal; font-weight: normal; 
								color: #000000;">Webmaster</td>
							</tr>
						</table>
					</div>
				</div>
				<div id="sidebar">
					<ul class="sidemenu">
						<li><h3>Past Core<h3></li>
						<li><a href="officer/2011-2012/">2011-2012</a></li>
						<li><a href="officer/2010-2011/">2010-2011</a></li>
						<li><a href="officer/2009-2010/">2009-2010</a></li>
						<li><a href="officer/2008-2009/">2008-2009</a></li>	
						<li><a href="officer/2007-2008/">2007-2008</a></li>					
					</ul>
				</div>	
</body>
<!--</html>!-->
